.main-title, .medium-title {
    font-family: 'Montserrat', sans-serif;
    color: rgb(51, 51, 51);
    font-weight: 750;
    text-align: center;
    font-size: 1rem;
    margin: 0px;
}

.form {
    width: 55%;
    float: right;
    margin-right: 1rem;
}

.message {
    width: 55%;
    float: right;
    margin-right: 1rem;
}

.inupform {
    width: 37%;
    margin-left: 5rem;
}

.inupmessage {
    width: 37%;
    margin-left: 5rem;
    margin-top: 8rem;
}


@media only screen and (max-width: 1060px) {
    .form {
        width: 95%;
        margin-right: 2.5%;
        margin-bottom: 0.5rem;
    }
    
    .message {
        width: 95%;
        margin-right: 2.5%;
        margin-bottom: 0.5rem;
    }

    .inupform {
        width: 95%;
        margin-right: 2.5%;
        margin-left: 2.5%;
        margin-bottom: 0.5rem;
    }
    
    .inupmessage {
        width: 95%;
        margin-right: 2.5%;
        margin-left: 2.5%;
        margin-bottom: 0.5rem;
        margin-top: 4.5rem;
    }
  }