.main-title, .medium-title {
    font-family: 'Montserrat', sans-serif;
    color: rgb(51, 51, 51);
    font-weight: 750;
    text-align: center;
    font-size: 1rem;
    margin: 0px;
}

#ong-form {
    width: 100%;
    display: flex;
    flex-direction: column;
}

#project-form {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.formcontainer {
    margin-top: 3rem;
    margin-bottom: 3rem;
}


