.metamask-img {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    height: 90px;
    width: 90px;
}

.donationimage {
    width: 30%;
}

.projectimage {
    width: 30%;
}

.transactionimage {
    width: 30%;
}

.infocontainer {
    width: 98%;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

#contentpage {
    margin-top: 48px;
}
