.metamask-img {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    height: 90px;
    width: 90px;
}

.donationimage {
    width: 30%;
}

.projectimage {
    width: 30%;
}

.transactionimage {
    width: 30%;
}

.infocontainer {
    width: 83.5%;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

#contentpage {
    background-color: white;
}

#toast-container {
    top: auto !important;
    right: auto !important;
    bottom: 10%;
    left:15%;
}
