.navbar {
    height: 48px;
    position: fixed;
    top: 0;
    z-index: 100;
  }
  
  .App-logo {
    height: 60%;
    pointer-events: none;
    margin: 4% 1em 0 10%;
  }

  .brand-logo {
    margin-top: -2px;
  }

  #navbarcontent {
    background-color: blue;
  }

  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  .nav-wrapper{
    background-color: #1a73e8;
  }