  .navbar {
    z-index: 100;
    position: fixed;
    top: 0;
    height: 3.6rem;
    background-color: #0b2239;
  }

  #navbutton {
    margin-top: -0.7rem;
    border: 0.5px solid white;
    background-color: #0b2239 !important;
    text-transform: none;
  }

  .App-logo {
    height: 2.5rem;
    vertical-align: middle;
    margin-right: 0.2rem;
  }

  .brand-logo {
    margin-top: -0.5rem;
    white-space: nowrap;
  }

  #sessionlogo {
    margin-top: 9%;
  }

  @media only screen and (max-width: 800px) {
    .brand-logo {
      margin-top: -0.5rem;
      position: left;
    }

  }


 