#container {
  padding-left: 19%;
}

#content {
  padding: 20px;
}

@media only screen and (max-width : 992px) {
  #container {
    padding-left: 0px;
  }
}

.card {
  border-radius: 25px;
}

#slide-out{
  width: 19%;
}
