#container {
  padding-left: 0;  
}

#contentpage {
  padding-left: 256px;
}

#content {
  padding: 20px;
}

@media only screen and (max-width : 992px) {
  #container {
    padding-left: 0px;
  }

  #contentpage {
    padding-left: 0px;
  }
}

#slide-out{
  width: 256px;
  background-image: gradient(to bottom right, #6e96e0, #426683, #467bee , #467bee);
}

.homemenu {
  margin-top: 30%;
}

.docmenu {
  margin-top: 5%;
}

.no-padding {
  margin-left: 0.5%;
}

.scrollmenu {
  height: 35%;
  overflow-x: hidden;
  overflow:auto;
}







