#container {
  padding-left: 0;  
}

#contentpage {
  padding-left: 256px;
}

#content {
  padding: 20px;
}

@media only screen and (max-width : 992px) {
  #container {
    padding-left: 0px;
  }

  #contentpage {
    padding-left: 0px;
  }
}

#slide-out{
  width: 256px;
}

.homemenu {
  margin-top: 30%;
}

.docmenu {
  margin-top: 5%;
}

.no-padding {
  margin-left: 0.5%;
}

.scrollmenu {
  height: 35%;
  overflow-x: hidden;
  overflow:auto;
}

#donationcard {
  border-radius: 20px;
}

#projectcard {
  border-radius: 20px;
}

#transactioncard {
  border-radius: 20px;
}

#newprojectcard {
  border-radius: 20px;
}

#newentitycard {
  border-radius: 20px;
}

#scocard {
  border-radius: 20px;
  background-color: #a0f;
}

#donationimage {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

#transactionimage {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

#projectimage {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}