
<div class="message">
  <br><br><br> 
  <div class="card-panel blue">
    <span class="white-text">Vas a editar tu proyecto!
      <img src="../assets/images/colombia.png" alt="" width="3%" style="vertical-align: middle;">
    </span>
  </div>
</div>

<div class="form">
  <div class="card-panel white">
    <form onsubmit="sendEditProject();return false">
      <div class='input-field'>
        <label for="pname"></label>
        <input type="text" name="name" id="epname" class="validate" maxlength="99" minlength="10" style="border-color: #E7EBDA;" disabled required>
      </div>
      <div class='input-field'>
        <label for="pdescription">Descripción</label>
        <textarea class="materialize-textarea validate" name="description" id="epdescription" minlength="100" maxlength="200" style="border-color: #E7EBDA;" required></textarea>
      </div>
      <div class='input-field'>
        <label for="pid"></label>
        <input type="hidden" name="id" id="epid" class="validate" minlength="12" style="border-color: #E7EBDA;" required>
      </div>
      <div class='input-field'>
        <input type="text" name="location" id="eplocation" class="validate" style="border-color: #E7EBDA;" required>
        <label for="plocation">Ubicación</label>
      </div>
      <div class='input-field'>
        <input type="hidden"  placeholder="Placeholder" name="p_id" id="eparentid" class="validate" style="border-color: #E7EBDA;" required>
        <label for="parentid"></label>
      </div>
      <div class='input-field'>
        <label for="pmaxfounds">Meta económica </label>
        <input type="number" name="p_id" id="epmaxfounds" class="validate" style="border-color: #E7EBDA;" required> 
      </div>
      <div class=''>
        <label>cuenta ethereum que tendrá el proyecto 
          <div class="file-field input-field">
            <div class="btn  N/A transparent grey-text" onclick=" metamaskInitializationForAddress()" style="margin-left: 0cm;" disabled>
              <span>Obtener desde mi wallet</span>
            </div>
            <div class="file-path-wrapper">
              <input class="validate" type="text" id="epethereum-adress" placeholder="Address" style="border-bottom: whitesmoke;" disabled required>
            </div>
          </div>
        </label>
      </div>
      <div class=''>
        <label>documento(s) de constitución del proyecto o legales, debidamente aprobados 
          <div class="file-field input-field">
            <div class="btn  N/A transparent grey-text" disabled>
              <span>File</span>
              <input type="file" multiple>
            </div>
            <div class="file-path-wrapper">
              <input class="file-path validate" type="text" id="eplegaldoc" placeholder="Arrastre aquí" style="border-bottom: whitesmoke;" required>
            </div>
          </div>
        </label>
      </div>
      <center>
        <div class='row'>
          <input type="submit" id="edit_project" class="waves-effect waves-light btn yellow darken-1 black-text" value="Editar"></input>
        </div>
      </center>
    </form>
  </div>
</div>

