<div class="infocontainer">
  <center>
  <div class="container">
    <div class="row">
      <div class="col s12">
        <ul>
          <li><a id="approvedlogo" class="purple-text text-lighten-3" href="javascript:;" onclick="setSeeMyAproveds()"></a></li>  
        </ul>
      </div>
    </div>  
  </div>
  </center>
  <div class="row">   
    <table cellpadding="1" cellspacing="1" class="table table-hover" id="allapprovedstable">
      <tbody id="historialaprovepanel">

      </tbody>
    </table>  
    <div class="col-md-12 center text-center ">
      <p class="grey-text text-accent-1" id="total_reg"></p>
      <ul class="pagination pager" id="allapprovedspager"></ul>
    </div>  
  </div>
  <br>
</div>
