<div class="infocontainer">
  <center>
  <div class="container">
    <div class="row">
      <div class="col s10">
        <form>
          <div class="input-field">
            <input id="searchallapproveds" type="search" class="blue-grey-text text-accent-4" placeholder="Busca transacciones aprovadas" style="border-color: white;">
            <i class="material-icons">search</i>
          </div>
        </form>
      </div>
      <div class="col s2">
        <a class="blue-grey-text text-accent-2" href="javascript:;" onclick="setSeeMyAproveds()"><i id="approvedlogo"></i></a>
      </div>
    </div>  
  </div>
  </center>
</div>
<div class="infocontainer">  
  <div class="row">   
    <table cellpadding="1" cellspacing="1" class="table table-hover" id="allapprovedstable">
      <tbody id="historialaprovepanel">

      </tbody>
    </table>  
    <div class="col-md-12 center text-center ">
      <p class="grey-text text-accent-1" id="total_reg"></p>
      <ul class="pagination pager" id="allapprovedspager"></ul>
    </div>  
  </div>
  <br>
</div>
