<br>
<a href="#!"  onclick="sethistorialaprove()">Transacciónes aprobadas</a>
<a href="#!"  onclick="sethistorialfailed()">Transacciónes no aprobadas</a>
<div id="historialaprovepanel" class="row">    
  <table class="responsive-table">
    <thead>
      <tr>
          <th>Hash del bloque</th>
          <th>Dirección del Contrato</th>
          <th>Cuenta de Origen</th>
          <th>Cuenta de la Ong</th>
          <th>Cantidad transferida</th>
          <th>Hash de la transacción</th>
      </tr>
    </thead>
    <tbody id="tbodyaproved">
      
    </tbody>
  </table>
</div>
<br>
