<section class="white">
  <div class="carousel carousel-slider">
    <a class="carousel-item" href="#one!"><img src="../assets/images/c3.jpg"></a>
    <a class="carousel-item" href="#two!"><img src="../assets/images/c2.jpg"></a>
    <a class="carousel-item" href="#three!"><img src="../assets/images/c4.jpg"></a>
    <a class="carousel-item" href="#four!"><img src="../assets/images/c5.jpg"></a>
    <div class="carousel-fixed-item center">
      <h4 class="white-text">¡Sígueme es de CO!</h4>
      <p class="white-text">La revolución de las criptomonedas está en Colombia y ahora involucrada
        con las causas sociales
      </p>
      <a class="btn waves-effect white grey-text darken-text-2" href="#what">Conócenos</a>
    </div>
  </div>
</section>
<section id="what" class="white">
  <div class="infocontainer">
    <ul class="collapsible popout">
      <li>
        <div class="collapsible-header blue-grey-text accent-2"><i class="material-icons">favorite_border</i>¿Sígueme?</div>
        <div class="collapsible-body">
          <p>Es una plataforma de donaciones cuyo sistema transaccional funciona sobre la red blockchain, (pionera en Colombia) además es pública, por lo cuál, cualquier persona puede donar.</p>
          <p class="blue-grey-text accent-2">Sí quieres saber que es el blockchain puedes ver este vídeo de mí autoría</p>
          <iframe width="100%" height="500vh" src="https://www.youtube.com/embed/2fbhY4Xsizg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </li>
      <li>
        <div class="collapsible-header blue-grey-text accent-2"><i class="material-icons">place</i>¿Cómo donar?</div>
        <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
      </li>
      <li>
        <div class="collapsible-header blue-grey-text accent-2"><i class="material-icons">whatshot</i>¿Cómo crear una ong o proyecto?</div>
        <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
      </li>
    </ul>
  </div>
</section>

 