
<section class="white">  
  <div class="row">
    <br>
    <div class="col s12 m4">
      <div class="card white">
        <div class="card-image">
          <img src="../assets/images/projectimage.png" class="projectimage" alt="project"></img>
          <a type="button1" href="https://teban18.github.io/siguemeORG_documentation/dist/index.html" class="btn btn-primary btn-lg">Ver documentación </a>
        </div>
          <div class="card-content white-text">
            <h4 class="card-title blue-grey-text">Quieres saber como funciona SCO?</h4>
          </div>
      </div>
    </div>
      <div class="col s12 m4">
        <div class="card white">
          <div class="card-image">
            <img src="../assets/images/donationimage.PNG" class="donationimage" alt="donation"></img>
            <button type="button1" onclick="setseeprojectview()" class="btn btn-primary btn-lg">ver proyectos</button>
          </div>
            <div class="card-content white-text">
              <h4 class="card-title blue-grey-text">Mira los ultimos proyectos y donales</h4>
            </div>
        </div>
      </div> 
      <div class="col s12 m4">
        <div class="card white">
          <div class="card-image">
            <img src="../assets/images/transactionimage.PNG" class="transactionimage" alt="transaction"></img>
            <button type="button1" class="btn btn-primary btn-lg">Ver donaciones</button>
          </div>
            <div class="card-content white-text">
              <h4 class="card-title blue-grey-text">Mira todas las donaciones realizadas!</h4>
              </p>
            </div>
        </div>
      </div>
  </div>
  <div class="infocontainer">
    <div class="card white">
        <div class="card-image"></div>
        <div class="card-content black-text center-align">
            <img class="metamask-img" src="../assets/images/metamask.png" alt="helpimage"></img>
            <h4 class="card-title blue-grey-text darken-1">Que es Metamask?</h4> 
            <p  class="card-title blue-grey-text darken-1">
                Metamask es una wallet donde podrás alojar tus cuentas blockchain   
            </p>      
        </div>
        <div class="card-action right-align">
            <a href="https://metamask.io/download.html" class="waves-effect waves-red btn modal-trigger btn-large blue">instalar </a>
        </div>
    </div>
  </div>
</section>
 