<div class="infocontainer">
  <img src="../assets/images/metamask.png" alt="" id="metamaskimg">
  <br>
  <br>
  <div class="contenedor-imagenes">
    <img src="../assets/images/Metamasklogo.png" style="width: 11rem; height: min-content;">
    <img src="../assets/images/solidity.png" style="width: 11rem; height: min-content;">  
    <img src="../assets/images/ethereum.png" style="width: 11rem; height: min-content;">
    <img src="../assets/images/node.png" style="width: 11rem; height: min-content;">  
    <img src="../assets/images/firebase.png" style="width: 11rem; height: min-content;">
  </div>
  <br><br>
</div>

 