<section>
  <nav class="navbar">
    <div class="nav-wrapper">
      <a href="javascript:;" data-activates="slide-out" class="button-collapse show-on-large blue-text text-lighten-1" style="margin-top: -0.3rem;"><b><i class="material-icons">menu</i></b></a>
      <a href="javascript:;" class="brand-logo"><img src="../assets/images/solidarity.png" class="App-logo" alt="logo"/>sígueme</a>
      <ul id="navbar-web-panel" class="right hide-on-med-and-down">
      </ul>
      <ul id="navbar-mov-panel" class="right hide-on-large-only">
      </ul>
    </div>
  </nav> 
</section>

<ul id="slide-out2" class="side-nav">    
</ul>
