<ul id="dropdown1" class="dropdown-content">
</ul>
 <nav class="navbar N/A transparent">
  <div class="nav-wrapper">
    <a href="#" data-activates="slide-out" class="button-collapse hide-on-large-only blue-grey-text text-accent-2"><i class="material-icons">menu</i></a>
    <img src="../assets/images/scobrand.png" class="App-logo" alt="logo"/>
    <ul class="right black-text">
      <li><a id="sessionname" class="dropdown-button blue-grey-text text-accent-2" href="javascript:;" data-activates="dropdown1" ></a></li>  
    </ul>
  </div>
</nav> 

