<section>
  <nav class="navbar" style="background-color: #0b2239;">
    <div class="nav-wrapper">
      <a href="javascript:;" class="brand-logo"><img src="../assets/images/scobrand.png" class="App-logo" alt="logo"/>sígueme</a>
      <a href="javascript:;" data-activates="slide-out" class="button-collapse show-on-large blue-text text-lighten-1" style="margin-top: -0.4rem;"><b><i class="material-icons">menu</i></b></a>
      <ul id="navbar-web-panel" class="right">

      </ul>
      <ul id="navbar-mov-panel hide-on-large-only" class="right hide-on-large-only">

      </ul>
      <ul class="right blue-grey-text text-accent-1">
        <li id="navbarsignout"></li>
        <li id="navbarsignin"></li>
      </ul>
    </div>
    <nav class="navbar-breadcumb white"> 
        <ul id="breadcumb-mov-panel" class="right">
          <a href="javascript:;" data-activates="slide-out2" class="button-collapse2 show-on-large blue-grey-text text-accent-2"><b><i class="material-icons">keyboard_arrow_left</i></b></a>
        </ul>
    </nav>
  </nav> 
</section>

<ul id="slide-out2" class="side-nav">    
</ul>
