<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body> 
    <div class="row">
        <div class="col s12">
            <div class="row">
                <div class="input-field col s6">
                    <i class="material-icons prefix"></i>
                    <input type="text" id="entity_id" class="autocomplete">
                    <label for="entity_id">entity id</label>
                </div>    
                <div class="input-field col s6">
                    <i class="material-icons prefix"></i>
                    <input type="text" id="entity_name" class="autocomplete">
                    <label for="entity_name">entity name</label>
                </div>
                <a href="#" onclick="setNewEntity()" class="btn btn-primary">Create</a>  
            </div>
        </div>
    </div>                   
</body>
</html>