
<div class="message">
  <br><br><br>
    <div class="card-panel blue">
      <span class="white-text">Inscríbe tu ong, nosotros validamos la información!
        <img src="../assets/images/colombia.png" alt="" width="3%" style="vertical-align: middle;">
      </span>
    </div>
</div>

<div class="form">
  <div class="card-panel white">
    <form class="ong-form" onsubmit="sendEntity();return false">
      <div class='input-field'>
        <label for="ename">Nombre de la ONG</label>
        <input type="text" name="name" id="ename" class="validate" style="border-color: #E7EBDA;" required>
      </div>
      <div class='input-field'>
        <label for="eid">Nit de la ONG</label>
        <input type="text" name="nit" id="enit" class="validate" minlength="5" style="border-color: #E7EBDA;" required>
      </div>
      <div class='input-field'>
        <label for="ephone">Teléfono de la ONG</label>
        <input type="tel" name="phone" id="ephone" class="validate" style="border-color: #E7EBDA;" required>
      </div>
      <div class='input-field'>
        <label for="ecel">Celular de la ONG</label>
        <input type="tel" name="phone" id="ecel" class="validate" style="border-color: #E7EBDA;" required>
      </div>
      <div class='input-field'>
        <label for="eurl">Link Página Web de la ONG</label>
        <input type="url" name="url" id="eurl" class="validate" style="border-color: #E7EBDA;" required> 
      </div>       
      <div class='input-field'>
        <label for="eemail">Correo electronico de la ONG</label>
        <input type="email" name="email" id="eemail" class="validate" style="border-color: #E7EBDA;" required> 
      </div>     
      <div class='input-field'>
        <label for="efa">Cuenta oficial de la ONG en facebook </label>
        <input type="text" name="facebook" id="efa" class="validate" style="border-color: #E7EBDA;" required>
      </div>
      <div class='input-field'>
        <label for="ein">Cuenta oficial de la ONG en Instagram</label>
        <input type="text" name="instagram" id="ein" class="validate" style="border-color: #E7EBDA;" required>
      </div>
      <div class=''>
        <label >documento(s) de identificación "ambas caras" del representante legal de la ONG
          <div class="file-field input-field">
            <div class="btn  N/A transparent grey-text">
              <span>File</span>
              <input type="file" multiple>
            </div>
            <div class="file-path-wrapper">
              <input class="file-path validate" type="text" id="epersonaldoc" placeholder="Arrastre aquí" style="border-bottom: whitesmoke;" required>
            </div>
          </div>
        </label>
      </div>
      <div class=''>
        <label>documento(s) que acrediten al representante legal con la ONG
          <div class="file-field input-field">
            <div class="btn N/A transparent grey-text">
              <span>File</span>
              <input type="file" multiple>
            </div>
            <div class="file-path-wrapper">
              <input class="file-path validate " type="text" id="elegaldoc" placeholder="Arrastre aquí" style="border-bottom: whitesmoke;" required>
            </div>
          </div>
        </label>
      </div>
      <center>
        <div class='row'>
          <input id="create_entity" type="submit" class="waves-effect waves-light btn yellow darken-1 black-text" value="Inscribír"></input>
        </div>
      </center>
    </form>
  </div>
</div>
          
