
<div class="infocontainer">
 
  <div class="formcontainer">
    <div class="form-container left">
      <br>
        <h2 class="medium-title blue-grey-text accent-2">Vamos a crear un proyecto..</h3>
            <form id="ong-form">
                <p class="information">
                    <label for="">Nombre del Proyecto</label>
                    <input type="text" name="name" id="pname" required>
                </p>
                <p class="information">
                    <label for="">Ubicación</label>
                    <input type="text" name="location" id="plocation" required>
                </p>
                <p class="information">
                    <label for="">Ethereum Adress</label>
                    <input type="text" name="ethereum-adress" id="pethereum-adress" required>
                </p>
                <p class="information">
                  <label for="">Clave única de la entidad a la que pertenence</label>
                  <input type="text" name="p_id" id="pid" required>
                </p>
                <p class="information">
                    <label for="">Documento Legal
                        <input type="text" name="legal-document" id="plegal-document" required>
                    </label>
                </p>
                <p class="information">
                  <a class="btn blue" onclick="setNewProject()">
                    Enviar solicitud
                  </a>
                  <a class="btn blue accent-1" onclick="sethomeview()">
                    Cancelar
                  </a>  
              </p>
            </form>
    </div>
    <div class="form-containerimg">
      <img src="../assets/images/ether.jpg" alt="" id="ongimg">
    </div>
  </div>
  <br>     
</div>

  
