
<div class="formcontainer">
  <center>
  <h5 class="blue-grey-text text-accent-2">Cuéntanos del proyecto, no lo inventes!</h5>
  <br>
  <div class="container">
    <label style='float: right;'>
      <a class='pink-text' href="javascript:;" onclick="sethomeview()"><b>No sé como hacerlo</b></a>
    </label>
    <div class="white" style="display: inline-block; padding: 32px 48px 0px 48px; border: 1.5px solid #BDD9F2; border-radius: 20px; width: 100%;">     
      <form id="project-form" action="" onsubmit="sendProject();return false">
        <div class='input-field'>
          <label for="pname">Nombre del proyecto</label>
          <input type="text" name="name" id="pname" class="validate" maxlength="99" minlength="15" required>
        </div>
        <div class='input-field'>
          <label for="pdescription">Descripción</label>
          <textarea class="materialize-textarea validate" name="description" id="pdescription" minlength="100" maxlength="200" required></textarea>
        </div>
        <div class='input-field'>
          <label for="pid">Clave privada del proyecto (creéla y guardela)</label>
          <input type="text" name="id" id="pid" class="validate" minlength="2" required>
        </div>
        <div class='input-field'>
          <label for="plocation">Ubicación</label>
          <input type="text" name="location" id="plocation" class="validate" required>
        </div>
        <div class='input-field'>
          <label for="pethereum-adress">Cuenta Ethereum 0x...</label>
          <input type="text" name="ethereum-adress" id="pethereum-adress" class="validate" required>
        </div>
        <div class='input-field'>
          <label for="parentid">Clave privada de la ONG a la que pertenece el proyecto</label>
          <input type="text" name="p_id" id="parentid" class="validate" required>
        </div>
        <div class='input-field'>
          <label for="pmaxfounds">Meta económica </label>
          <input type="number" name="p_id" id="pmaxfounds" class="validate" required> 
        </div>
        <div class='row'>
          <label for="">documento(s) de constitución del proyecto o legales, debidamente aprobados 
            <div class="file-field input-field">
              <div class="btn  N/A transparent grey-text">
                <span>File</span>
                <input type="file" multiple>
              </div>
              <div class="file-path-wrapper">
                <input class="file-path validate" type="text" id="plegaldoc" placeholder="Arrastre aquí" style="border-bottom: whitesmoke;" required>
              </div>
            </div>
          </label>
        </div>
        <center>
          <div class='row'>
            <input type="submit" class="btn halfway-fab N/A transparent blue-grey-text text-accent-2" style="border-radius:20px;" value="Crear proyecto">
            </input>
          </div>
        </center>
      </form>
      </form>
    </div>
  </div>
  <br>
  </center>
</div>

  
