
<div class="row">
  <br><br><br>
  <div class="col s12 m12">
    <div class="card-panel white z-depth-0 hide-on-large-only">
      <center>
        <h3 class="card-title" style="vertical-align: middle;">Bienvenido a <b class="blue-text">Sígueme</b></h3>
        <h5 class="grey-text">Es hecha por colombianos !
          <img src="../assets/images/colombia.png" alt="" width="7%">
        </h5>
      </center>
    </div>
  </div>
  <div class="col s12 m5">
    <div class="card-panel white z-depth-0 hide-on-med-and-down">
        <h3 class="card-title" style="vertical-align: middle;">Bienvenido a <b class="blue-text">Sígueme</b></h3>
        <h5 class="grey-text">Es hecha por colombianos !
          <img src="../assets/images/colombia.png" alt="" width="7%">
        </h5>
    </div>
  </div>
  <div class="col s12 m7">
    <div class="card-panel white z-depth-0 hide-on-med-and-down">
        <img src="../assets/images/welcome.jpg" alt="" width="100%" style="vertical-align: middle;">
    </div>
  </div>
</div>
<div class="row"> 
  <table cellpadding="1" cellspacing="1" class="table table-hover" id="allprojectstable">
    <tbody id="projectpanel">
      
    </tbody>
  </table>  
  <div class="col-md-12 center text-center ">
    <p class="grey-text text-accent-1" id="total_reg"></p>
    <ul class="pagination pager" id="allprojectspager"></ul>
  </div> 
</div>
  

  
    
