
<div class="formcontainer">
  <center>
    <h5 class="blue-grey-text text-accent-2">Crea una cuenta en sígueme</h5>
    <br>
    <div class="container">
      <div class="white" style="display: inline-block; padding: 32px 48px 0px 48px; border: 1.5px solid #BDD9F2; border-radius: 20px; ">
        <form id="signupform" class="col s12" method="post">
          <div class='row'>
            <div class='col s12'>
            </div>
          </div>

          <div class='row'>
            <div class='input-field col s12'>
              <input class='validate' type='email' name='email' id='remail'style="border-color: #E7EBDA;" required />
              <label for='email'>Asocia un email</label>
            </div>
          </div>
          <div class='row'>
              <div class='input-field col s12'>
                  <input class='validate' type='password' name='password' id='rpassword' style="border-color: #E7EBDA;" required />
                  <label for='password'>contraseña</label>
              </div>
              <label style='float: right;'>
                <a class='blue-grey-text text-accent-2' href="javascript:;" onclick="setsigninview()"><b>Iniciar sesión</b></a>
              </label>
          </div>
              <br />
          <center>
            <div class='row'>
              <a href="javascript:;" onclick="signup()" class='button-solid white blue-text text-lighten-3' style="border-radius:20px;"><i class="fas fa-arrow-right fa-3x"></i></a>
            </div>
          </center>
        </form>
      </div>
    </div>
  </center>
</div>
  