<html>

<head>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
  <link rel="stylesheet" href="../authentication/css/login.css" type="text/css">
</head>

<body>
  <div class="section"></div>
  <main>
    <center>
      <img class="responsive-img" style="width: 70px;" src="../assets/images/scobrand.png" />
      <h5 class="indigo-text">Seguro quieres salir?</h5>
      <div class="section"></div>

      <div class="container">
        <div class="white" style="display: inline-block; padding: 32px 48px 0px 48px; border: 1px solid #BDD9F2; border-radius: 20px;">

          <form class="col s12" method="post">
            <div class='row'>
              <div class='col s12'>
                <h6 class="blue-gray-text">Es un gusto tenerte en SCO</h6>
              </div>
            </div>
            <br />
            <center>
              <div class='row'>
                <a href="#!" onclick="signout()" class='col s12 btn btn-large waves-effect blue-grey accent-2'>si, salir</a>
              </div>
            </center>
          </form>
          <a href="../index.html">volver al panel principal</a>
        </div>
      </div>
      
    </center>
    <div class="section"></div>
    <div class="section"></div>
  </main>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.1/jquery.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
  <script src="https://www.gstatic.com/firebasejs/5.9.3/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/5.9.3/firebase-auth.js"></script>
  <script src="../assets/firebase/firebase-configuration.js"></script>
  <script src="../authentication/js/session.js"></script>
  <script src="../authentication/js/signout.js"></script>
</body>
</html>