
      

<div class="infocontainer">
    <br> 
    <div id="newtransactioncard" class="card">
        <div class="card-content blue-grey-text">
            <form class="col">    
                <div class="input-field">
                    <i class="material-icons prefix"></i>
                    <input type="text" id="amount" class="autocomplete">
                    <label for="amount">Valor</label>
                </div>
                <div class="input-field col s6">
                    <i class="material-icons prefix"></i>
                    <input type="text" id="project_address" class="autocomplete" >
                    <label for="project_address">project address</label>
                </div>
            </form>
            <button class="btn waves-effect" onclick="activateTx()">
                Confirmar 
            </button>
            <button class="btn red lighten-1 waves-effect" onclick="sethomeview()">
                Cancelar
            </button>
            <button class="btn orange lighten-1 waves-effect" onclick="newContract()">
                contract
            </button>
        </div>
    </div>          
</div>